.body {
  font-size: 16px;
  color: #212121;
}

.mv {
  background-image: url(/bg_mv.png);
  background-size: contain;
  height: 50%;
  width: 100%;
  position: relative;
  background-position: top 0;
  background-repeat: no-repeat;
}

.mv::after {
  contain: '';
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo {}

.tagline {
  font-size: 14.5px;
  margin-top: 5px;
}

.header_btn {
  display: flex;
}

.signin {
  margin-right: 12px;
}

.signin a {
  display: inline-flex;
  background: #fff;
  border: 1px solid #ffa72f;
  border-radius: 99px;
  padding: 8px 20px;
  color: #ffa72f;
  font-weight: bold;
}

.signup a {
  display: inline-flex;
  background: #33a598;
  border-radius: 99px;
  padding: 8px 20px;
  color: #fff;
  font-weight: bold;
}

.mv_img {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.animals_01 {
  background: rgba(51, 165, 152, 0.08);
}

.animals_box {
  padding-top: 40px;
  padding-bottom: 60px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.animals_01_glupe {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.animals_01_cnt {
  width: calc(50% - 24px);
  margin: 0 12px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 3px 16px #002E2A1A;
}

.animals_01_cnt_group {
  display: flex;
  padding: 24px;
}

.animals_01_block {
  width: 67%;
}

.wana {
  width: 33%;
  text-align: center;
  margin-right: 20px;
}

.wana_type {
  margin-top: 10px;
  font-size: 14px;
  color: #33a598;
  font-weight: bold;
}

.state_get {
  display: inline-block;
  background: #fff;
  border: 1px solid #ffa72f;
  color: #ffa72f;
  font-size: 14px;
  border-radius: 4px;
  padding: 3px 8px;
  font-weight: bold;
  font-size: 14px;
}

.state_stay {
  display: inline-block;
  background: #fff;
  border: 1px solid #42B7F5;
  color: #42B7F5;
  font-size: 14px;
  border-radius: 4px;
  padding: 3px 8px;
  font-weight: bold;
  font-size: 14px;
}

.get_box {
  background: rgba(255, 167, 47, 0.1);
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 4px;
}

.get_cnt {
  display: flex;
}

.get_cnt:first-child {
  margin-bottom: 6px;
}

.icon {
  margin-right: 8px;
}

.icon img {
  padding-top: 3px;
}

.get_animals,
.get_time {
  font-weight: bold;
}

.basic {
  font-size: 14px;
  color: #797979;
}

.basic li:not(last-child) {
  margin-bottom: 5px;
}

.detail_btn {
  display: block;
  background: #33a598;
  border-radius: 0px 0 6px 6px;
  text-align: center;
  padding: 10px 0px;
  color: #fff;
  font-weight: bold;
  display: flex;
}

.detail_btn a {
  width: 100%;
  display: block;
}

.detail_btn img {
  display: inline-block;
  padding-bottom: 2px;
  padding-left: 10px;
}

.detail_btn_desable {
  display: block;
  background: #E0E0E0;
  border-radius: 0px 0 6px 6px;
  text-align: center;
  padding: 10px 0px;
  color: #fff;
  font-weight: bold;
  display: flex;
}

.detail_btn_desable a {
  width: 100%;
  display: block;
}

.detail_btn_desable img {
  display: inline-block;
  padding-bottom: 2px;
  padding-left: 10px;
}

.arrow {
  display: block;
}


.animals_bg {
  background-image: url(/bg_check.png);
  background-size: contain;
  height: 50%;
  width: 100%;
  position: relative;
}

.animals_bg::after {
  contain: '';
  position: absolute;
  background: #F4F4F4;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
