.body {
  font-size: 16px;
  color: #212121;
}

.mv {
  background-image: url(/bg_mv.png);
  background-size: contain;
  width: 100%;
  background-position: top 0;
  background-repeat: no-repeat;
  background-color: rgba(51, 165, 152, 0.08);
  padding-top: 90px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 40px;
  width: 100%;
  position: fixed;
  top: 0;
}

.logo {
  display: inline-block;
}

.tagline {
  font-size: 14.5px;
  margin-top: 5px;
}

.header_btn {
  display: flex;
}

.signin {
  margin-right: 12px;
}

.signin a {
  display: inline-flex;
  background: #fff;
  border: 1px solid #33a598;
  border-radius: 99px;
  padding: 8px 32px;
  color: #33a598;
  font-weight: bold;
}

.signup a {
  display: inline-flex;
  background: #ffa72f;
  border-radius: 99px;
  padding: 8px 32px;
  color: #fff;
  font-weight: bold;
}

.mv_img {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.animals_01 {
  background: rgba(51, 165, 152, 0.08);
}

.animals_box {
  padding-top: 40px;
  padding-bottom: 60px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.animals_01_glupe {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.animals_01_cnt {
  width: calc(50% - 40px);
  margin: 20px 20px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 3px 16px #002E2A1A;
}

.animals_01_cnt_group {
  display: flex;
  padding: 24px;
}

.animals_01_block {
  width: 67%;
}

.wana {
  width: 33%;
  text-align: center;
  margin-right: 20px;
}

.wana_type {
  margin-top: 10px;
  font-size: 14px;
  color: #33a598;
  font-weight: bold;
}

.state_get {
  display: inline-block;
  background: #fff;
  border: 1px solid #ffa72f;
  color: #ffa72f;
  font-size: 14px;
  border-radius: 4px;
  padding: 3px 8px;
  font-weight: bold;
  font-size: 14px;
}

.state_stay {
  display: inline-block;
  background: #fff;
  border: 1px solid #42B7F5;
  color: #42B7F5;
  font-size: 14px;
  border-radius: 4px;
  padding: 3px 8px;
  font-weight: bold;
  font-size: 14px;
}

.get_box {
  background: rgba(255, 167, 47, 0.1);
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 4px;
}

.get_cnt {
  display: flex;
}

.get_cnt:first-child {
  margin-bottom: 6px;
}

.icon {
  margin-right: 8px;
}

.icon img {
  padding-top: 3px;
}

.get_animals,
.get_time {
  font-weight: bold;
}

.basic {
  font-size: 14px;
  color: #797979;
}

.basic li:not(last-child) {
  margin-bottom: 5px;
}

.detail_btn {
  display: block;
  background: #33a598;
  border-radius: 0px 0 6px 6px;
  text-align: center;
  padding: 10px 0px;
  color: #fff;
  font-weight: bold;
  display: flex;
}

.detail_btn a {
  width: 100%;
  display: block;
}

.detail_btn img {
  display: inline-block;
  padding-bottom: 2px;
  padding-left: 10px;
}

.detail_btn_desable {
  display: block;
  background: #E0E0E0;
  border-radius: 0px 0 6px 6px;
  text-align: center;
  padding: 10px 0px;
  color: #fff;
  font-weight: bold;
  display: flex;
}

.detail_btn_desable a {
  width: 100%;
  display: block;
}

.detail_btn_desable img {
  display: inline-block;
  padding-bottom: 2px;
  padding-left: 10px;
}

.arrow {
  display: block;
}

.animals_02 {
  margin-top: 10px;
}

.animals_bg {
  background-image: url(/bg_check.png);
  background-size: 24px;
  width: 100%;
}

.animals_02_block {
  display: flex;
  flex-wrap: wrap;
}

.animals_02_box {
  width: calc(25% - 32px);
  margin: 10px 16px;
  max-width: 276px;
  height: 390px;
  display: inline-block;
  position: relative;
}

.wana_02 {
  width: 160px;
  display: inline-block;
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 57px;
}

.animals_02_detail {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 3px 16px #002E2A1A;
  position: absolute;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-top: 100px;
  margin-top: 110px;
}

.state_yet {
    display: inline-block;
  background: #fff;
  border: 1px solid #797979;
  color: #797979;
  font-size: 14px;
  border-radius: 4px;
  padding: 3px 8px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  padding: 50px 0 20px;
}

.copy {
  margin-top: 40px;
  font-size: 12px;
  color: #797979;
}
